body {
  background-color: #d8dbf3;
}

.game {
  display: flex;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  width: 80vw;
  margin: 0 auto;
}

.game h1 {
  font-size: clamp(28px, 5vw, 42px);
  font-weight: bold;
  color: #151f30;
  margin: 50px 0;
}
